*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
}

p{
    background-color: aqua;
}
/* tag selector*/
h1{ 
    text-align: center;
    border: 1px solid black;  
}

#mar{

    /* this is id selector*/
    color: rgb(29, 147, 108);
    text-decoration: solid;
    text-transform: uppercase;

}

p,h1{
    /* group9ing slector*/
    font-size: xx-large;
}
.grp{

/* this is class  selector */
border: solid ;
text-align: center;
text-shadow: 0cqmax;
background-color: bisque;

}