h1{
width: 50%;
text-align: center;
background-color: rgb(251, 254, 253);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(199, 199, 58);
position: center;

}

a{
    background-color: bisque;
    background-position: 0cqi;

}